form {
  margin: 0px 15px;
}

form input::placeholder {
  color: #4d4a4a !important;
}
.logo-img {
  position: relative;
  width: 100%;
  margin: 0px auto;
  left: 15px;
  margin-top: 15%;
}
form ion-input{
  padding: 12px;
  padding-left: 15px !important;
}

.login-link {
  text-decoration: none;
  font-size: 14px;
}

ion-row {
  padding: 10px 0px;
}
form .ion-touched.ion-invalid.sc-ion-input-md-h {
  padding-right: 15px !important;
}
