<ion-content>
  <div class="logo-img">
    <img src="assets/logo.jpg">
  </div>
  <form [formGroup]="form">

    <ion-list class="mb-2">
      <ion-input type="text" formControlName="email" placeholder="Email" required></ion-input>
      <ion-row class="err"
        *ngIf="form.get('email')?.invalid && form.get('email')?.hasError('required') && form.get('email')?.touched">
        <ion-text color="danger">Email is required.</ion-text>
      </ion-row>
    </ion-list>

    <ion-button expand="block" (click)="submit()" class="submit-btn mt-20">Send password reset link</ion-button>

    <ion-row class="ion-justify-content-center" style="padding: 16px;">
      <a routerLink="/login" class="login-link">Back to login</a>
    </ion-row>
  </form>

</ion-content>