form {
    margin: 20px 15px;
}
form ion-input{
    padding: 12px;
    padding-left: 15px !important;
    margin-top: 5px;
    margin-bottom: 10px;
}
form ion-textarea {
    padding-left: 15px !important;
    margin-top: 5px;
    margin-bottom: 10px;
}
ion-item{
    margin-top: 5px;
}