.list-card{
    padding:5px;
    background:#f4f6f9;
}
.detail-card{
    padding:5px;
    background: #6c757d;
    color: #ffffff;
    text-align: center;
}
.btn-scs{
    --background: #0acf97;
    height: 45px;
    font-size: 11px;
}
.btn-second{
    --background: #5a6268;
    height: 45px;
    font-size: 11px;
}