<app-header></app-header>
<ion-content *ngIf="role != 'admin'">
    <div *ngIf="studentData">
      <ion-card class="list-card" *ngFor="let item of studentData">
        <ion-row [routerLink]="['/invoice-info',item.id ]">
            <ion-col class="days-col"size="9">
                  <p class="days-name capitalize pl5">{{item.student}}</p>
            </ion-col>
            <ion-col class="days-col"size="3">
                  <p class="days-name" [ngStyle]="{'color': item.status == 'Paid' ? 'green' : 'red'}" >{{item.status}}</p>
            </ion-col>
        </ion-row>
      </ion-card>
    </div>
  <div *ngIf="studentData.length == 0 && !isloading" class="empty_box">
    <img class="empty_box_img" src="../../../assets/icon/empty_box.png">
    <p><b>Data Not Found</b></p>
  </div>
</ion-content>
<ion-content *ngIf="role == 'admin'" class="content">
      <ion-card class="list-card add-btns">
              <ion-row>
                  <ion-col>
                      <ion-button (click)="invoiceAdd('single_invoice')">+ Single invoice</ion-button> 
                  </ion-col>
                  <ion-col>
                      <ion-button (click)="invoiceAdd('joint_invoice')">+ Joint invoice</ion-button> 
                  </ion-col>
              </ion-row> 
              <ion-row>
                  <ion-col>
                      <ion-button (click)="massInvoiceAdd('mass_invoice')">+ Mass invoice</ion-button> 
                  </ion-col>
                  <ion-col>
                      <ion-button (click)="massInvoiceAdd('joint_mass_invoice')">+ Joint mass invoice</ion-button> 
                  </ion-col>
              </ion-row>
      </ion-card>
  <div style="margin-top: 20px;">
      <app-date-range-picker (pickedDate)="selectedDate($event)"></app-date-range-picker>
  </div>
  
  <ion-item>
      <ion-select label="Class" label-placement="floating" [(ngModel)]="selectedClass" >
      <ion-select-option  value="all">All Class</ion-select-option>
      <ion-select-option *ngFor="let item of classes" [value]="item.id">{{ item.name }}</ion-select-option>
      </ion-select>
  </ion-item>
  <ion-item>
      <ion-select label="Parent" label-placement="floating" [(ngModel)]="selectedParent" >
          <ion-select-option value="all">All Parent</ion-select-option>
          <ion-select-option *ngFor="let item of parentData" [value]="item.id">{{ item.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label="Status" label-placement="floating" [(ngModel)]="selectedStatus" >
        <ion-select-option value="all">All status</ion-select-option>
        <ion-select-option value="paid">Paid</ion-select-option>
        <ion-select-option value="partial">Partial</ion-select-option>
        <ion-select-option value="unpaid">Unpaid</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="text-center mt10">
      <ion-button  (click)="filter('list')">Filter</ion-button>
      <ion-row>
        <ion-col size="8"><ion-item>
          <ion-label>Export as</ion-label>
          <ion-select placeholder="Select an option"  [(ngModel)]="exportType">
            <ion-select-option value="csv">CSV</ion-select-option>
            <ion-select-option value="pdf">PDF</ion-select-option>
            <ion-select-option value="print">Print</ion-select-option>
          </ion-select>
        </ion-item></ion-col>
        <ion-col size="4"><ion-button *ngIf="exportType"  (click)="filter('export')">Export</ion-button></ion-col>
      </ion-row>
    </div>
  
    <div *ngIf="reportData?.length">
      <ion-item>
          <ion-label>Select All</ion-label>
          <ion-checkbox [(ngModel)]="selectAllChecked" (ionChange)="toggleSelectAll()"></ion-checkbox>
          <ion-button *ngIf="ShowDelete" color="danger" (click)="deleteSelected()">Delete Selected</ion-button>
      </ion-item>
      <ion-card class="list-card" *ngFor="let item of reportData">
          <ion-row>
              <ion-col size="9">
                  <b>{{ item.invoice_title }}</b>
                  <p>Invoice type : {{ item.invoice_type}}</p>
                  <p>Invoice amount : <span *ngIf="item.invoice_amount">${{ item.invoice_amount }}</span></p>
              </ion-col>
              <ion-col size="2" class="icons">
                  <ion-icon name="eye" (click)="viewDetail(item)"></ion-icon>
              </ion-col>
              <ion-col size="1" class="deleteCheck">
                  <ion-checkbox [checked]="isSelected(item.id)" (ionChange)="onInvoiceCheckChange(item.id, $event)"></ion-checkbox>
                </ion-col>
          </ion-row>
      </ion-card>
    </div>
  </ion-content>

