.content{
    margin:12px;
}
ion-card{
    padding:10px;
}
.list-card ion-icon{
    font-size:20px;
    position: relative;
}
.icons{
    text-align: end;
}
.add-btns ion-button{
    font-size: 12px;
    width: 100%;
}
.export-as{
    position: relative;
    top: 13px;
    left: 12px;
}