#reportrange{
    background: #fff;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    width: 90%;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    margin-left: 18px;
}