.add-btns ion-button{
    box-shadow: none;
    font-size: 12px;
    width: 100%;
}
.add-btns {
    box-shadow: none;
}
.list-card{
    box-shadow: none;
    padding: 10px;
}
.fab1{
    position: absolute;
    right: 75px;
}