<app-header></app-header>
<ion-content>
  <form [formGroup]="ChangePasswordForm" (ngSubmit)="ChangePassword()" novalidate>

    <ion-list class="mt25">
      <ion-label>Current Password <span class="req">*</span></ion-label>
      <ion-input class="custom-input" name="oldpassword" formControlName="oldpassword" [type]="OldpasswordType"
        placeholder="Enter Current Password" required></ion-input>
      <ion-icon class="input-icon" slot="end" [name]="OldpasswordIcon" color="gray"
        (click)="CurrenthideShowPassword()"></ion-icon>
      <ion-row class="err"
        *ngIf="ChangePasswordForm.get('oldpassword')?.invalid && ChangePasswordForm.get('oldpassword')?.hasError('required') && ChangePasswordForm.get('oldpassword')?.touched">
        <ion-text color="danger">This field is required</ion-text>
      </ion-row>
    </ion-list>
    <ion-list>
      <ion-label>New Password <span class="req">*</span></ion-label>
      <ion-input class="custom-input" name="newpassword" formControlName="newpassword" [type]="NewpasswordType"
        placeholder="Enter New Password" required></ion-input>
      <ion-icon class="input-icon" slot="end" [name]="NewpasswordIcon" color="gray"
        (click)="hideShowPassword()"></ion-icon>
      <ion-row class="err"
        *ngIf="ChangePasswordForm.get('newpassword')?.invalid && ChangePasswordForm.get('newpassword')?.hasError('required') && ChangePasswordForm.get('newpassword')?.touched">
        <ion-text color="danger">This field is required</ion-text>
      </ion-row>
    </ion-list>
    <ion-list>
      <ion-label>Confirm New Password <span class="req">*</span></ion-label>
      <ion-input class="custom-input" name="password" formControlName="confirm_password" [type]="ConfirmpasswordType"
        placeholder="Enter Confirm Password " required></ion-input>
      <ion-icon class="input-icon" [name]="ConfirmpasswordIcon" color="gray" item-end
        (click)="confirmhideShowPassword()"></ion-icon>
      <ion-row class="err"
        *ngIf="ChangePasswordForm.get('confirm_password')?.hasError('required') && ChangePasswordForm.get('confirm_password')?.touched">
        <ion-text color="danger">This field is required.</ion-text>
      </ion-row>
      <ion-row class="err"
        *ngIf="ChangePasswordForm?.hasError('passwordMismatch') && ChangePasswordForm.get('confirm_password')?.touched">
        <ion-text color="danger">Passwords do not match.</ion-text>
      </ion-row>
    </ion-list>

    <ion-button expand="block" (click)="ChangePassword()" class="submit-btn mt-20">Update</ion-button>

  </form>

</ion-content>