form {
    margin: 0px 15px;
}
ion-label{
    width: 100%;
    font-size: 14px !important;
}
form ion-input{
    padding: 12px;
    padding-left: 15px !important;
    margin-top: 10px;
}
form .ion-touched.ion-invalid.sc-ion-input-md-h {
    padding-right: 15px !important;
}
ion-icon{
    position: absolute;
    right: 10px;
    z-index: 999;
    top: 48px;
    font-size: 18px;
}