form {
    margin: 20px 15px;
}
form ion-input{
    padding: 12px;
    padding-left: 15px !important;
}
form ion-textarea {
    padding-left: 15px !important;
}
ion-label{
    margin-top: 10px;
}
.submit-btn{
    margin-top:20px;
}
ion-list{
    margin-top: 5px;
    margin-bottom: 10px;
}
ion-item{
    margin-top: 5px;
    margin-bottom: 10px;
}
