<app-header></app-header>
<ion-content [fullscreen]="true">
  <div *ngIf="accountantsList">
    <ion-row>
      <ion-col size="10">
        <ion-searchbar  show-clear-button="always" [(ngModel)]="search" (ionClear)="searchCancel()"></ion-searchbar>
      </ion-col>
      <ion-col size="2">
        <ion-button class="search-btn" (click)="searchRes()"><ion-icon name="search"></ion-icon></ion-button>
      </ion-col>
    </ion-row>

 <ion-card class="list-card" *ngFor="let item of accountantsList" >
  <ion-row>
      <ion-col size="8">
          <ion-row>
            <p class="capitalize">Name : {{ item.name }}</p>
          </ion-row>
          <ion-row>
            <p >Email: {{ item.email }}</p>
          </ion-row>
      </ion-col>
      <ion-col size="4" class="icons">
        <ion-icon *ngIf="role == 'admin' || role == 'superadmin'" class="pencil" name="pencil" (click)="openEditModal(item)"></ion-icon>
        <ion-icon class="trash" name="trash-outline" *ngIf="role == 'admin' || role == 'superadmin'" (click)="delete(item.id)"></ion-icon>
      </ion-col>
  </ion-row>
  </ion-card>
  </div>
  <div *ngIf="!accountantsList" class="empty_box">
      <img class="empty_box_img" src="../../../assets/icon/empty_box.png">
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="role == 'admin' || role == 'superadmin'">
    <ion-fab-button (click)="openAddModal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
