.warning {
    background: rgb(241, 69, 69);
    color: white;
    margin-left: 10px;
    padding: 3px;
    padding-right: 7px;
}
.partial{
    background: #ffbc00;
    color: black;
    margin-left: 10px;
    padding: 3px;
    padding-right: 7px;
}
.success{
    background: green;
    color: white;
    margin-left: 10px;
    padding: 3px;
    padding-right: 7px;
}
.active-accordion {
    border: 1px solid #727cf5;
    border-radius: 8px;
}