form {
    margin: 20px 15px;
}
form ion-input{
    padding: 12px;
    padding-left: 15px !important;
    margin-top: 5px;
    margin-bottom: 10px;
}
ion-label{
    margin-top: 10px;
}
.dropdown-s{
    margin-top: 10px;
    margin-bottom: 10px;
    height:auto;
}