<ion-header>
  <ion-toolbar>
    <ion-title>{{heading_title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <app-class-filter (filterChange)="onFilterChange($event)"></app-class-filter>
  <ion-row>
    <ion-col size="9" class="text-center">
      <ion-button class="gen-csv-btn" (click)="generateCSV()">Generate csv file <ion-icon name="download-outline"></ion-icon></ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button class="csv-preview" (click)="preview()"><ion-icon name="eye-outline"></ion-icon></ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="p-20 mt30">
    <ion-label>Upload CSV</ion-label>
    <input class="mt20" type="file" (change)="loadProfileFromDevice($event)" id="pfile-input">
  </ion-row>
  <div class="text-center">
    <ion-button class="submit-btn" (click)="submit()"> Add student </ion-button>
  </div>
</ion-content>
