ion-row p{
    padding: 5px;
    margin: 0px;
}
ion-card{
    background: #f4f6f9;
    padding: 0px 5px;
}
ion-avatar{
    width: 100%;
    height: auto;
}
ion-card{
    padding-left: 10px;
    background: #f4f6f9;
}
.list-card ion-icon{
    font-size:20px;
    position: relative;
    top: 15px;
}
.icons{
    text-align: end;
}