<app-header></app-header>
<ion-toolbar color="#ffffff">
<ion-title>Event Calendar</ion-title>
<ion-buttons slot="end">
<ion-button (click)="setToday()">Today</ion-button>
</ion-buttons>
</ion-toolbar>
<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size="2">
      <ion-button (click)="calendarBack()"><ion-icon name="arrow-back" slot="icon-only"></ion-icon></ion-button>
    </ion-col>
    <ion-col  size="8">
      <h2 class="ion-text-center">{{ viewTitle }}</h2>
    </ion-col>
    <ion-col size="2">
      <ion-button (click)="calendarForward()"><ion-icon name="arrow-forward" slot="icon-only"></ion-icon></ion-button>
    </ion-col>
  </ion-row>
  <div class="my-calendar">
<calendar style="height: auto;" [calendarMode]="calendar.mode" (onTitleChanged)="viewTitle = $event" (onTimeSelected)="onDateSelected($event)" [eventSource]="events">
</calendar>
</div>
<div *ngIf="events_data">
  <ion-card class="list-card" *ngFor="let item of events_data">
    <ion-row>
      <ion-col size="3">Title</ion-col>
      <ion-col size="7">{{ item.title }}</ion-col>
      <ion-col size="2" class="icons">
        <ion-icon *ngIf="role == 'admin'" class="pencil" name="pencil" (click)="openEditModal(item)"></ion-icon>
        <ion-icon class="trash" name="trash-outline" *ngIf="role == 'admin'" (click)="delete(item.event_id)"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">From</ion-col>
      <ion-col size="7">{{ item.starting_date }}</ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">To</ion-col>
      <ion-col size="7">{{ item.ending_date }}</ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
</ion-card>
</div>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="role == 'admin'">
  <ion-fab-button (click)="openAddModal()">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>