ion-toolbar {
    color: black !important
}
ion-button {
    --background: #ffffff;
    color: black;
    --box-shadow: none;
}
h2{
    margin-top: 12px !important;
}
.th{
    background: #313a46;
    color: #FFFFFF;
}
.my-calendar {

    overflow-y: auto; 
  }
  ::ng-deep .monthview-eventdetail-timecolumn {
    display: none !important;
}
ion-card{
    padding-left: 10px;
    background: #f4f6f9;
}
.list-card ion-icon{
    font-size:20px;
    position: relative;
    top: 15px;
}
.icons{
    text-align: end;
}