<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" menuId="main-menu" type="overlay">
      <ion-header>
        <ion-toolbar color="tertiary" class="header_sidebar">
          <div class="pl5 app_name">
              <img class="w60" src="../assets/icon/light-logo.png" alt="logo">
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list id="inbox-list">
          <ion-menu-toggle *ngIf="user_data != ''">
            <ion-item style="--min-height: 70px;">
              <ion-icon name="person"></ion-icon>
              <div class="user-info">
                <ion-label class="uname capitalize">{{ user_data?.name }}</ion-label>
                <span class="role_badge capitalize">{{ user_data?.role }}</span>
              </div>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="user_data != ''">
            <ion-item  lines="none" detail="false" (click)="dashboard()" [class.selected]="isSelectedHome('/tabs/tab1')" >
              <ion-icon name="speedometer"></ion-icon>
              <ion-label class="uname">Dashboard</ion-label>
            </ion-item>
          </ion-menu-toggle> 
            <ion-list *ngFor="let p of appPages; let i = index" class="p-0">
              <ion-item (click)="toggleAccordion(i)" routerDirection="root" [routerLink]="[]" lines="none" detail="false" [class.selected]="selectedIndex === i">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon"></ion-icon>
                <ion-label class="capitalize" (click)="gotoPage(p)">{{ p.title }}</ion-label>
                <ion-icon slot="end" name="chevron-down" *ngIf="selectedIndex !== i && p.children"></ion-icon>
                <ion-icon slot="end" name="chevron-up" *ngIf="selectedIndex === i && p.children"></ion-icon>
              </ion-item>
              <ion-list *ngIf="selectedIndex === i && p.children">
                <ion-item *ngFor="let subPage of p.children" (click)="navigateTo(subPage.url)" routerDirection="root" [routerLink]="[subPage.url]" [class.selected]="isSelected(subPage.url)">
                  <ion-icon slot="start" [ios]="subPage.icon + '-outline'" [md]="subPage.icon"></ion-icon>
                  <ion-label class="capitalize">{{ subPage.title }}</ion-label>
                </ion-item>
              </ion-list>
            </ion-list>
          <ion-menu-toggle *ngIf="user_data != ''">
            <ion-item  lines="none" detail="false" (click)="logout()">
              <ion-icon style="font-size:30px;" name="log-out-outline"></ion-icon>
              <ion-label style="position: relative;left: 25px;">Logout</ion-label>
            </ion-item>
          </ion-menu-toggle> 
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
