.submit-btn{
    width: 90%;
    margin-top: 20px;
}
.access_den{
    background-color: #fedee5;
    padding: 15px;
    color: #6c757d;
    font-weight: 600;
    width: 100%;
}
.manage_marks{
    background: #6c757d;
    color: #ffffff;
    text-align: center;
}
.manage_marks ion-card-header{
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}
.marks_table{
    padding: 10px;
    background:#f4f6f9;
    width: 100%;
}
.access-title{
    text-align: center;
    font-size: 16px;
    color: #000;
}