<app-header></app-header>
<ion-content>
<app-class-filter (filterChange)="onFilterChange($event)"></app-class-filter>

<div *ngIf="showWeekList">
  <ion-card class="list-card" *ngFor="let item of weekDays">
    <ion-row>
        <ion-col class="days-col" (click)="openDetailModal(item)" size="12">
              <p class="days-name">{{item}}</p>
        </ion-col>
    </ion-row>
  </ion-card>
</div>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="role == 'admin'">
  <ion-fab-button (click)="openAddModal()">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
