<ion-header>
  <ion-toolbar>
    <ion-title>{{ heading_title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="examForm" *ngIf="module_name == 'exam'">
    
    <ion-label class="label">Exam Name <span class="req">*</span></ion-label>
    <ion-list>
      <ion-input type="text" formControlName="exam_name" required></ion-input>
    </ion-list>
    <ion-row class="err"
      *ngIf="examForm.get('exam_name')?.invalid && examForm.get('exam_name')?.hasError('required') && examForm.get('exam_name')?.touched">
      <ion-text color="danger">Exam name is required.</ion-text>
    </ion-row>
    <ion-list>
      <ion-label>Starting Date <span class="req">*</span> </ion-label>
      <ion-input id="sdate" formControlName="starting_date" class="ion-text-start pl-10 mt10" name="starting_date"
        [value]="examForm.get('starting_date')?.value | date: 'MM/dd/yyyy'">
        <ion-icon aria-hidden="true" name="calendar-clear-outline" class="date-icon"></ion-icon>
      </ion-input>

      <ion-popover trigger="sdate" size="cover">
        <ng-template>
          <ion-datetime  [value]="setDefaultDate"  presentation="sdate" locale="en-US" (ionChange)="setStartDate()" formControlName="starting_date">
          </ion-datetime>
          <ion-row>
            <ion-col><ion-button class="reset-date-btn" (click)="resetStartDate()" expand="block"
                color="primary">Reset</ion-button></ion-col>
            <ion-col><ion-button class="reset-date-btn" (click)="savedate()" expand="block"
                color="primary">OK</ion-button></ion-col>
          </ion-row>
        </ng-template>
      </ion-popover>
    </ion-list>
    <ion-list>
      <ion-label>Ending Date <span class="req">*</span> </ion-label>
      <ion-input id="end_date" formControlName="ending_date" class="ion-text-start pl-10 mt10" name="ending_date"
        [value]="examForm.get('ending_date')?.value | date: 'MM/dd/yyyy'">
        <ion-icon aria-hidden="true" name="calendar-clear-outline" class="date-icon"></ion-icon>
      </ion-input>

      <ion-popover trigger="end_date" size="cover">
        <ng-template>
          <ion-datetime  [value]="setDefaultDate"  presentation="end_date" locale="en-US" (ionChange)="setEndDate()" formControlName="ending_date">
          </ion-datetime>
          <ion-row>
            <ion-col><ion-button class="reset-date-btn" (click)="resetEndDate()" expand="block"
                color="primary">Reset</ion-button></ion-col>
            <ion-col><ion-button class="reset-date-btn" (click)="saveEndDate()" expand="block"
                color="primary">OK</ion-button></ion-col>
          </ion-row>
        </ng-template>
      </ion-popover>
    </ion-list>

    <ion-button [disabled]="!examForm.valid"  expand="block" (click)="submit_exam()" class="submit-btn mt-20">Submit</ion-button>
  </form>
  <form [formGroup]="gradeForm" *ngIf="module_name == 'grade'">
    <ion-label class="label">Grade <span class="req">*</span></ion-label>
    <ion-list>
      <ion-input type="text" formControlName="grade" required></ion-input>
    </ion-list>
    <ion-row class="err"
      *ngIf="gradeForm.get('grade')?.invalid && gradeForm.get('grade')?.hasError('required') && gradeForm.get('grade')?.touched">
      <ion-text color="danger">Grade is required.</ion-text>
    </ion-row>
    <ion-label class="label">Grade Point <span class="req">*</span></ion-label>
    <ion-list>
      <ion-input type="text" formControlName="grade_point" required></ion-input>
    </ion-list>
    <ion-row class="err"
      *ngIf="gradeForm.get('grade_point')?.invalid && gradeForm.get('grade_point')?.hasError('required') && gradeForm.get('grade_point')?.touched">
      <ion-text color="danger">Grade point is required.</ion-text>
    </ion-row>
    <ion-label class="label">Mark From <span class="req">*</span></ion-label>
    <ion-list>
      <ion-input type="text" formControlName="mark_from" required></ion-input>
    </ion-list>
    <ion-row class="err"
      *ngIf="gradeForm.get('mark_from')?.invalid && gradeForm.get('mark_from')?.hasError('required') && gradeForm.get('mark_from')?.touched">
      <ion-text color="danger">Mark from is required.</ion-text>
    </ion-row>
    <ion-label class="label">Mark Upto <span class="req">*</span></ion-label>
    <ion-list>
      <ion-input type="text" formControlName="mark_upto" required></ion-input>
    </ion-list>
    <ion-row class="err"
      *ngIf="gradeForm.get('mark_upto')?.invalid && gradeForm.get('mark_upto')?.hasError('required') && gradeForm.get('mark_upto')?.touched">
      <ion-text color="danger">Mark upto is required.</ion-text>
    </ion-row>
    <ion-button [disabled]="!gradeForm.valid"  expand="block" (click)="submit_grade()" class="submit-btn mt-20">Submit</ion-button>
  </form>
</ion-content>