ion-row p{
    padding: 5px 5px;
    margin: 0px;
    font-size: 14px;
}
ion-card{
    background: #f4f6f9;
    padding: 5px;
    border-radius: 10px;
}
.name{
    font-size: 20px;
    
}
.list-card ion-icon{
    font-size:20px;
    position: relative;
    top: 15px;
}
.icons{
    text-align: end;
}