<app-header></app-header>
<ion-content [fullscreen]="true">

  <div class="text-center"  *ngIf="role == 'admin'"><ion-button class="btn" (click)="openExcelModal()">Upload excel</ion-button></div>
    <ion-row>
      <ion-col size="10">
        <ion-searchbar show-clear-button="always" [(ngModel)]="search" (ionClear)="searchCancel()"></ion-searchbar>
      </ion-col>
      <ion-col size="2">
        <ion-button class="search-btn" (click)="searchRes()"><ion-icon name="search"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
 <ion-card class="list-card" *ngFor="let item of teacherData">
  <ion-row>
    <ion-col size="8">
     
        <p><ion-text class="capitalize name">{{ item.name }}</ion-text></p>
        <p class="capitalize">Department: {{ item.department }}</p>
        <p class="capitalize">Designation: {{ item.designation }}</p>
      
    </ion-col>
    <ion-col size="4" class="icons">
        <ion-icon *ngIf="role == 'admin'" class="pencil" name="pencil" (click)="openEditModal(item)"></ion-icon>
        <ion-icon class="trash" name="trash-outline" *ngIf="role == 'admin'" (click)="delete(item.id)"></ion-icon>
    </ion-col>
  </ion-row>
</ion-card>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="role == 'admin'">
  <ion-fab-button (click)="openAddModal()">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
