/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import 'swiper/css';
/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


body {
    --input-background: #ffffff;
    --input-color: #000000;
    --input-placeholder-color: #666666;
    --input-caret-color: #000000;
  }
  
  /* Dark mode styles */
  @media (prefers-color-scheme: dark) {
    body {
      --input-placeholder-color: #aaaaaa; /* Placeholder text color */
      --input-caret-color: #000000;
    }
  }
  
    /* Ensure the dark background applies to the inner part of ion-select */
    form ion-select .select-text,
    form ion-select .select-placeholder {
        color:  #000000;
    }
    
    /* Additional styles to ensure the dropdown text and options in ion-select align with dark mode */
    form ion-select .select-interface-options,
    form ion-select-option {
        background-color:  #ffffff;
        color:  #000000;
    }
.select-text{
    padding-bottom: 10px;
}
.submit-btn{
    --background: #727cf5;;
    color: #ffffff;
    text-transform: capitalize;
}
.pl5{
    padding-left: 5px;
}
.m10{
    margin: 10px !important;
}
.mt5{
    margin-top: 5px;
}
.mt10{
    margin-top: 10px !important;
}
.mt15{
    margin-top: 15px;
}
.mt20{
    margin-top: 20px !important;
}
.mt25{
    margin-top: 25px !important;
}
.mt30{
    margin-top: 30px;
}
.p0{
    padding: 0px !important;
}
.p10{
    padding: 10px !important;
}
.p20{
    padding: 20px !important;
}
.p25{
    padding: 25px !important;
}
.pl10{
    padding-left: 10px !important;
}
.pt5{
    padding-top: 5px;
}
.pt10{
    padding-top: 10px;
}
.pt15{
    padding-top: 15px;
}
.pt20{
    padding-top: 20px;
}
.pr10{
    padding-right: 10px;
}
.p-20{
    padding: 20px;
}
.bold{
    font-weight: bold;
}
form input::placeholder {
    color: #4d4a4a !important;
}

form ion-input {
    min-width: 100%;
    //background-color: rgb(231 231 231 / 88%);
    background-color: #f4f6f9;
    border: none;
    color: #4d4a4a !important;
    font-size: 15px;
    border-radius: 6px;
}

form ion-textarea {
    //background-color: rgba(231, 231, 231, 0.88);
    background-color: #f4f6f9;
    border: none;
    color: #4d4a4a !important;
    border-radius: 6px;
}
form .err{
    padding: 5px;
    color: red;
}
.req{
    color: red;
}

.filter-btn{
    width: 95%;
    margin: 0px auto;
    text-transform: capitalize;
} 
.capitalize{
    text-transform: capitalize;
}
.edit-btn{
    position: absolute;
    right: 75px;
}
.dropdown-s{
   //--background: rgba(231, 231, 231, 0.88);
   --background: #f4f6f9;
    border-radius: 10px;
    height: 45px;
    color: #000000;
}
ion-button{
    text-transform: capitalize;
}
.title{
    font-size: 16px;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.success-toast-background{
    --background: green;
    color: #ffffff !important;
}
.error-toast-background{
    --background: red;
    color: #ffffff !important;
}
ion-fab-button{
    --background: #727cf5;
}
ion-toolbar{
    --background: #727cf5;
    color: white;
}
ion-button{
    --background: #727cf5;
}

.ion-touched.ion-invalid.sc-ion-input-md-h {
    --highlight-background: transparent;
    --highlight-color-focused: transparent;
    --ion-color-primary: transparent;
    --ion-color-primary-tint: transparent;
    --ion-color-primary-shade: transparent;
  }
  
  .ion-touched.ion-invalid.sc-ion-input-md-h input {
    outline: none !important;
    box-shadow: none !important;
    --border-color: transparent !important;
  }
  .ion-touched.ion-invalid.sc-ion-input-md-h {
    --border-color: transparent !important;
}
.icons .trash{
    color:red !important;
}
.icons {
    color:#727cf5 ;
}
ion-card{
    border-radius: 0px !important; 
}
.empty_box_img{
    width: 50%;
}
.empty_box{
    text-align: center;
    position: relative;
    top: 20%;
}
ion-textarea{
    --padding-start: 10px;
}
.search-btn{
    position: relative;
    top: 7px;
    right: 7px;
}
.link{
    color: #727cf5;
}
app-date-range-picker{
    color: #000000 !important;
}
.daterangepicker {
    width: 100% !important;
    margin: auto !important;
    color: #000000 !important;
}
.daterangepicker .ranges li.active {
    background-color: #727cf5 !important;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #727cf5 !important;
}
.daterangepicker .drp-calendar {
    max-width: 100%;
}
.daterangepicker .ranges ul {
    display: flex;
    flex-wrap: wrap;
}
.daterangepicker .drp-buttons .btn {
    background: #727cf5;
    color: #fff;
}
.al-right{
    float: right;
}
ion-buttons ion-button{
    background: #727cf5;
    color: #ffffff;
    border-radius: 3px;
}
.success{
background: rgb(109, 245, 109);
}
.warning{
    background: rgb(241, 69, 69);
}
.partial{
    background: yellow;
    color: black !important;
}
.acrd{
    padding: 12px;
}
.gen-csv-btn{
    --background:#0acf97;
    width: 90%;
}
.csv-preview{
    --background:#313a46;
    width: 90%;
}