ion-row p{
    padding: 5px;
    margin: 0px;
}
ion-card{
    background: #f4f6f9;
    padding: 0px 5px;
}
.list-card ion-icon{
    font-size:20px;
    position: relative;
    top: 15px;
}
.icons{
    text-align: end;
}
.download{
    right: 10px;
}
.view{
    right: 10px;
}
