ion-card {
    margin: 10px;
}
ion-segment {
margin: 10px;
}
ion-segment-button {
text-transform: capitalize;
}
.list-card{
    background-color: #f4f6f9;
}
.btn{
    text-align: center;
}

ion-item {
--min-height: 40px;
}
ion-card-content{
    padding: 0px;
}
.plan_warning{
    text-align: center;
    position: relative;
    top: 30%;
}